<!DOCTYPE html>
<html>
<head>
  <title>Uofthacks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="http://earth-api-samples.googlecode.com/svn/trunk/lib/math3d.js"></script>
  <script type="text/javascript" src="http://earth-api-samples.googlecode.com/svn/trunk/lib/keyboard-focus-hack.js"></script>
  <script type="text/javascript">
    google.load("earth", "1", {"other_params":"sensor=true"});
    google.load("maps", "2", {"other_params":"sensor=true"});

    var ge = null;
    var cam;

    function init() {
      init3D();
      
    }

    function initCB(object) {
      ge = object;
      ge.getOptions().setFlyToSpeed(100);

      ge.getLayerRoot().enableLayerById(ge.LAYER_BUILDINGS, true);

      cam = new FirstPersonCam();
      cam.updateCamera();
      ge.getWindow().setVisibility(true);

      keyboardFocusHack(ge);

      // Create the ScreenOverlay
      var screenOverlay = ge.createScreenOverlay('');

      // Specify a path to the image and set as the icon
      var icon = ge.createIcon('');
      icon.setHref('http://i.imgur.com/ViM8tSC.png');
      screenOverlay.setIcon(icon);


      // Set the ScreenOverlay's position in the window
      var windowWidth = $(window).width();
      var leftMargin = (windowWidth - (windowWidth * 0.39)) /2;
      var windowHeight = $(window).height();
      var topMargin = document.getElementById("logo").offsetHeight * 1.85;

      screenOverlay.getOverlayXY().setXUnits(ge.UNITS_PIXELS);
      screenOverlay.getOverlayXY().setYUnits(ge.UNITS_PIXELS);
      screenOverlay.getOverlayXY().setX(leftMargin);
      screenOverlay.getOverlayXY().setY(topMargin);

      var width = document.getElementById("map3d").offsetWidth;
      var height = document.getElementById("map3d").offsetHeight;

      // Set the overlay's size in pixels
      screenOverlay.getSize().setXUnits(ge.UNITS_PIXELS);
      screenOverlay.getSize().setYUnits(ge.UNITS_PIXELS);
      screenOverlay.getSize().setX(width);
      screenOverlay.getSize().setY(height);

      // Specify the point in the image around which to rotate
      screenOverlay.getRotationXY().setXUnits(ge.UNITS_FRACTION);
      screenOverlay.getRotationXY().setYUnits(ge.UNITS_FRACTION);
      screenOverlay.getRotationXY().setX(0.5);
      screenOverlay.getRotationXY().setY(0.5);

      // Rotate the overlay
      screenOverlay.setRotation(0);

      // Add the ScreenOverlay to Earth
      ge.getFeatures().appendChild(screenOverlay);
    }

    function failureCB(object) {
      /***
       * This function will be called if plugin fails to load, in case
       * you need to handle that error condition.
       ***/
    }

    function init3D() {
      google.earth.createInstance("map3d", initCB, failureCB);
    }
  </script>
</head>
<body onload='init()' onunload="GUnload()" onKeyDown="return keyDown(event);" onKeyUp="return keyUp(event);" id='body'>

<%= yield %>

</body>
</html>
