<!DOCTYPE html>
<html>
<head>
  <title>Uofthacks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <script type="text/javascript">
    var ge;
    google.load("earth", "1", {"other_params":"sensor=true"});
    function init() {
      google.earth.createInstance('map3d', initCB, failureCB);
    }

    function initCB(instance) {
       ge = instance;
       ge.getWindow().setVisibility(true);
    }

    function failureCB(errorCode) {
      alert("failed")
    }

    google.setOnLoadCallback(init);

  </script>
</head>
<body>

<%= yield %>

</body>
</html>
